/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*---start-wrap----*/
.wrap{
	width:60%;
	margin:0 auto;
}

body{
  text-align: center;
  background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

.facebook-btns {
  margin-left: 10em;
}


.fb-like {
  margin: 0 auto;
  text-align: center;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}



/*---start-content-----*/
.content{
  text-align:center;
  margin-top: 2em;
}
.content-title{
	text-align:center;
	margin-top: 2em;
}
.content h1{
	font-size: 3.91em;
	font-weight: 800em;
	color:#FFF;
}
.content p{
	font-size: 1.5em;
	color:#FFF;
	margin-top: 0.3em;
}
/*---start-copy-right-----*/
.copy-right{
	text-align:center;
	letter-spacing:0.1em;
	margin-top: 1em;
}
.copy-right p{
	color:#FFF;
	font-weight: 800em;
	font-size:0.9em;
	word-spacing: 0.2em;
}
.copy-right p a{
	color:#FFF;
	 transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.copy-right p a:hover{
	color:#000;	
}
/*----responsive-design-----*/
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap{
		width:90%;
	}
	.content {
		margin-top: 2em;
	}
	.notified {
		width: 50%;
	}
	.notified input[type="text"] {
		width: 74.5%;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.wrap{
		width:90%;
	}
	.content {
		margin-top: 2em;
	}
	.notified {
		width: 50%;
	}
	.notified input[type="text"] {
		width: 73.5%;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.wrap{
		width:90%;
	}
	.content {
		margin-top: 1em;
	}
	.notified {
		width: 50%;
	}
	.notified input[type="text"] {
		width: 65.5%;
	}
	.content h1 {
		font-size: 3.6em;
	}
	ul#countdown span {
		padding: 7px 30px;
	}
}
@media only screen and (max-width: 768px) and (min-width: 640px) {
	.wrap{
		width:90%;
	}
	.content {
		margin-top: 2em;
	}
	.notified {
		width: 63%;
	}
	.notified input[type="text"] {
		width: 64.5%;
	}
	.content h1 {
		font-size: 2.6em;
	}
	ul#countdown span {
		padding: 7px 30px 0px 30px;
	}
	.content p {
		font-size: 1em;
		word-spacing:0.2em;
	}
	ul#countdown span {
		font-size: 3em;
	}
  .notified{
    width: 60%;
    margin: 0 auto;
    margin-left: 2em;
    margin-top: 2em;
    background:#FFF;
  }
  .notified input[type="text"]{
    width: 73.5%;
    padding:12px;
    color:#888;
    font-size:0.875em;
    font-family: 'Open Sans', sans-serif; 
     border:none;
     outline:none;
  }
  .notified input[type="submit"]{
    background:#000;
    padding: 12px;
    border:none;
    color:#FFF;
    font-family: 'Open Sans', sans-serif; 
     cursor:pointer;
     transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
  }
  .notified input[type="submit"]:hover{
    background:#555;
  }
  .notified form{
    text-align:center;
  }
}
